<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Peter Rudenko" />
    <meta name="copyright" content="(c) 2014-<%= DateTime.utc_now.year %>" />
    <meta name="description" content="Libre music sequencer for all major platforms, desktop and mobile" />
    <meta name="keywords" content="helio, music, midi, sequencer, composition, audio, vst, host" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="apple-mobile-web-app-title" content="Helio Workstation">
    <meta name="application-name" content="Helio Workstation">
    <meta name="robots" content="noydir, noopd" />
    <meta property="og:title" content="helio.fm" />
    <meta property="og:description" content="Vive la cultura libre." />
    <meta property="og:url" content="https:/helio.fm/" />
    <meta property="og:site_name" content="helio.fm" />
    <meta property="fb:app_id" content="729120477206819" />
    <meta property="fb:admins" content="100003911442395" />
    <meta property="fb:profile_id" content="750187808328705" />
    <meta property="og:image" content="<%= static_path(@conn, "/images/og_image.png") %>" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="256" />
    <meta property="og:image:height" content="256" />
    <link rel="canonical" href="https:/helio.fm/" />
    <link rel="shortlink" href="https:/helio.fm/" />
    <link rel="apple-touch-icon" sizes="180x180" href="<%= static_path(@conn, "/images/apple-touch-icon.png") %>">
    <link rel="mask-icon" href="<%= static_path(@conn, "/images/safari-pinned-tab.svg") %>" color="#da532c">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/" <> (assigns[:custom_css] || "helio.css")) <> "?v=1.6" %>">
    <link rel="icon" type="image/png" href="<%= static_path(@conn, "/images/favicon.png") %>" />
    <title>helio.fm</title>
  </head>

  <body>
    <%= render @view_module, @view_template, assigns %>
  </body>

  <!-- Google Analytics are for the weak. -->

</html>
