@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

ul,ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.download-block a {
  margin: 4px;
  padding: 0 0 8px 2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.download-block a:hover {
  padding-bottom: 5px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}
.download-block,.center,.center-align,section h3 {
  text-align: center;
}
.white-text {
  color: #fff!important;
}
body {
  margin: 0;
}
footer,header,main,nav,section {
  display: block;
}
a {
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
a:active,a:hover {
  outline: 0;
}
img.bbk {
  border: 1px solid #2a2a2a;
  border-radius: 2px!important;
}
img.bbl {
  border: 1px solid rgb(61, 65, 117);
  border-radius: 2px!important;
}
img {
  border: 0;
  image-rendering: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
*,:after,:before {
  box-sizing: inherit;
}
ul {
  padding: 0;
}
@media only screen and (max-width:700px) {
  .hide-on-small-and-down {
    display: none!important;
  }
}
.container {
  padding: 0 1.5rem;
  margin: 0 auto;
  max-width: 1280px;
  width: 99%;
}
@media only screen and (min-width:993px) {
  .container {
    width: 70%;
  }
}
.container .feature_block {
  margin-left: -.75rem;
  margin-right: -.75rem;
  padding: 60px 0 80px 0;
}
.row {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row .col {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 .75rem;
}
.row .col.left_text {
  padding: 0 40px 0 40px;
}
.row .col.right_text {
  padding: 0 40px 0 40px;
}
.row .col.s1 {
  width: 8.33333%;
  margin-left: 0;
}
.row .col.s2 {
  width: 16.66667%;
  margin-left: 0;
}
.row .col.s3 {
  width: 25%;
  margin-left: 0;
}
.row .col.s4 {
  width: 33.33333%;
  margin-left: 0;
}
.row .col.s5 {
  width: 41.66667%;
  margin-left: 0;
}
.row .col.s6 {
  width: 50%;
  margin-left: 0;
}
.row .col.s7 {
  width: 58.33333%;
  margin-left: 0;
}
.row .col.s8 {
  width: 66.66667%;
  margin-left: 0;
}
.row .col.s9 {
  width: 75%;
  margin-left: 0;
}
.row .col.s10 {
  width: 83.33333%;
  margin-left: 0;
}
.row .col.s11 {
  width: 91.66667%;
  margin-left: 0;
}
.row .col.s12 {
  width: 100%;
  margin-left: 0;
}
@media only screen and (min-width:701px) {
  .row .col.m1 {
    width: 8.33333%;
    margin-left: 0;
  }
  .row .col.m2 {
    width: 16.66667%;
    margin-left: 0;
  }
  .row .col.m3 {
    width: 25%;
    margin-left: 0;
  }
  .row .col.m4 {
    width: 33.33333%;
    margin-left: 0;
  }
  .row .col.m5 {
    width: 41.66667%;
    margin-left: 0;
  }
  .row .col.m6 {
    width: 50%;
    margin-left: 0;
  }
  .row .col.m7 {
    width: 58.33333%;
    margin-left: 0;
  }
  .row .col.m8 {
    width: 66.66667%;
    margin-left: 0;
  }
  .row .col.m9 {
    width: 75%;
    margin-left: 0;
  }
  .row .col.m10 {
    width: 83.33333%;
    margin-left: 0;
  }
  .row .col.m11 {
    width: 91.66667%;
    margin-left: 0;
  }
  .row .col.m12 {
    width: 100%;
    margin-left: 0;
  }
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
  font-weight: inherit;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
}
h1 {
  font-size: 3.56rem;
  line-height: 3.56rem;
  margin: 0 0 .5rem;
}
h4 {
  font-size: 2rem;
  line-height: 2.28rem;
  margin: 0.5rem 0 0.8rem;
}
h6 {
  font-size: 1.45rem;
  margin: .65rem 0 .52rem;
  color: #333;
}
.feels-fucking-right {
  color: #000;
}
.button-title-text {
  color: #fffb;
  clear: both;
  font-size: 1.3rem;
  letter-spacing: .25px;
}
.button-subtitle-text {
  color: #fffc;
  clear: both;
  font-size: .9rem;
  /* font-weight: 400; */
}
.download-block {
  display: inline-block;
  padding: 12px;
  margin-top: 32px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  height: 66px;
  box-sizing: border-box;
  user-select: none;
}
.has-shadow {
  -webkit-box-shadow: 0 3px 9px 0 rgba(0, 0, 0, .22), 0 5px 15px 0 rgba(0, 0, 0, .22);
  -moz-box-shadow: 0 3px 9px 0 rgba(0, 0, 0, .22), 0 5px 15px 0 rgba(0, 0, 0, .22);
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, .22), 0 5px 15px 0 rgba(0, 0, 0, .22);
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  font-family: Lato, "Lucida Grande", Tahoma, Sans-Serif;
  font-weight: 400;
}
@media only screen and (min-width:0) {
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width:801px) {
  html {
    font-size: 15px;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,html {
  min-width: 100%!important;
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
footer {
  margin: 0;
  padding: 0;
  color: #eee;
  position: relative;
}
footer a {
  color: #eee;
  padding: 0 0 5px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
footer a:hover {
  padding-bottom: 3px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}
footer a span.div::before {
  color: rgba(255, 255, 255, .25);
  content: "·";
  margin: 3px;
}
footer a span.l1 {
  color: #eee;
}
footer a span.l2 {
  color: rgba(255, 255, 255, .75);
}
footer a span.l3 {
  color: rgba(255, 255, 255, .5);
}
footer {
  min-height: 200px;
  background: #3B3E6B;
}
footer #footer-nav {
  padding: 25px 30px 0 30px;
}
footer ul li {
  line-height: 32px;
}
footer p {
  line-height: 32px;
  font-weight: 300;
}
footer #built-with-love {
  color: rgba(255, 255, 255, .6);
  font-size: 13.5px;
  font-weight: 300;
  line-height: 1.7rem;
  padding: 5px 0 20px 0;
  background: #333664;
}
#helio-docs {
  text-align: center;
  background-color: #efedf5;
  padding: 0;
  margin: 0;
}
#helio-docs h4 {
  display: inline-block;
  font-size: 1.45rem;
  font-weight: 300;
  line-height: 2.28rem;
  margin: 0 20px 0 20px;
  width: 50%;
}
#helio-docs a {
  color: #363568;
  font-weight: 400;
  padding: 0 0 4px 0;
  border-bottom: 1px solid #363568;
}
#helio-docs a:hover {
  padding-bottom: 2px;
  border-bottom: 2px solid #363568;
}
svg.header {
  z-index: -2;
  position: absolute;
  width: 100%;
  height: 575px;
}
svg.footer-skew {
  z-index: -2;
  width: 100%;
  padding: 0;
  vertical-align: bottom;
  margin: 0 0 -2px 0;
}
#helio-header {
  height: 572px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgBAMAAAAQtmoLAAAABGdBTUEAALGPC/xhBQAAABtQTFRFAAAA////gICAgICA////MzMzZmZmmZmZzMzMwAf6rgAAAAl0Uk5TAAECBAQFBQUFekhc0wAAAHRJREFUWIXt0kENgDAQRNHBwS4OagIFHDBQBZVAQi0gm5IggOHE4W8yx0nayVPPXp1oz6U2I8qcz2JE0rTG+2x3IcPIeJJ1ocP6cvtQ8DYqxj5PzI1GwVwpfRpYwhKWsIQlLGEJS1jCEpawhCUsYemPlty7AJPoqBsh2163AAAAAElFTkSuQmCC');
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
#helio-header .sub-title {
  padding: 0 0 15px 0;
}
#helio-header .main-title {
  margin: 0;
}
#helio-features {
  padding-top: 65px;
}
.full-width,section {
  width: 100%;
}
iframe {
  border: 4px solid #363568;
  border-radius: 4px!important;
}
.logo-container {
  position: relative;
  display: table;
  margin: 30px auto 5px auto;
  width: 280px;
  height: 280px;
}
.logo-container img {
  width: 256px;
  height: 256px;
}
@media screen and (max-width:800px) {
  .logo-container {
    margin-top: 50px;
    width: 155px;
    height: 155px;
  }
  svg.header {
    height: 450px;
  }
  #helio-header {
    max-height: 447px;
  }
  #helio-features {
    padding-top: 35px;
  }
  .logo-container img {
    width: 128px;
    height: 128px;
  }
}
@media screen and (max-width:700px) {
  footer #built-with-love {
    padding: 15px 0 20px 0;
  }  
  footer #footer-nav {
    text-align: center;
    padding: 25px 10px 10px 10px;
  }
  #helio-docs h4 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .row .col.left_text {
    padding: 25px 30px 25px 30px;
  }
  .row .col.right_text {
    padding: 25px 30px 25px 30px;
  }
  .container .feature_block {
    padding: 40px 0 60px 0;
  }
}
@media screen and (max-width:480px) {
  .download-block {
    margin-top: 34px;
  }
  #helio-header h4 {
    font-size: 1.5rem;
  }
  .button-title-text {
    font-size: 1.15rem;
  }
  .button-subtitle-text {
    font-size: .85rem;
  }
}
section {
  position: relative;
  height: 100%;
}
@media only screen and (max-width:700px) {
  section {
    height: auto;
  }
}
section h3 {
  margin: 0;
}
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
.github-corner svg {
  fill: #eee;
  color: #3b3e6b;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}
@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }
  20%, 60% {
    transform: rotate(-25deg);
  }
  40%, 80% {
    transform: rotate(10deg);
  }
}
@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}