/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('/fonts/lato-v17-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/lato-v17-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/fonts/lato-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/lato-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  font-family: Lato, Sans-Serif;
  font-weight: 400;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
}

body {
  background: #eee;
  margin: 0px;
}

img {
  vertical-align:middle;
}

.container {
  margin-right:auto;
  margin-left:auto;
  padding:15px;
}

.container-fluid {
  margin-right:auto;
  margin-left:auto;
  padding:15px;
}

.jumbotron {
  color:inherit;
  background-color:#f5f5f5;
  text-align: center;
  border: #cbc7d4 0.05em solid;
  border-top: #585d88 0.15em solid;
}

.jumbotron p {
  margin:0.5em;
  line-height:1.42857143;
  font-size:18px;
  font-weight:300;
}

.container .jumbotron,.container-fluid .jumbotron {
  border-radius:6px;
  padding:15px;
}

.jumbotron .container {
  max-width:100%;
}

a {
  color:#337ab7;
  text-decoration:none;
}

a:hover,a:focus {
  color:#23527c;
  text-decoration:underline;
}

a:focus {
  outline:5px auto -webkit-focus-ring-color;
  outline-offset:-2px;
}

b {
  font-weight: 400;
}

h1, h2 {
  font-weight: 400;
  font-size: 1.5em;
  margin: 5px;
}

h3 {
  font-size: 1.2em;
  margin: 5px;
}

hr {
  margin: 15px;
  background-color: #ddd;
  border: none;
  height: 1px;
}

.avatar {
  border-radius:50%;
  width:64px;
  height:64px;
  padding:15px;
}

.logo {
  width: 100%;
  height: 64px;
  display: inline-block;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 64'><path d='M40 33.1C42.76 31.25 44.82 29.85 46.15 28.88 47.48 27.93 48.88 26.73 50.31 25.31 51.74 23.89 52.95 22.28 53.93 20.5 54.7 19.19 55.36 17.66 55.9 15.93 56.45 14.22 56.73 12.56 56.78 10.98 56.78 9.51 56.59 8.11 56.18 6.8 55.8 5.46 55.13 4.37 54.19 3.49 53.25 2.63 52.02 2.19 50.5 2.19 49.04 2.19 47.65 2.49 46.36 3.06 45.09 3.65 44.18 4.58 43.67 5.9 43.67 6.02 43.6 6.17 43.5 6.4 43.53 6.68 43.67 6.88 43.93 7.04 44.19 7.2 44.42 7.26 44.63 7.26 44.74 7.26 45.03 7.21 45.49 7.11 45.96 7 46.34 6.94 46.66 6.94 47.58 6.94 48.41 7.26 49.16 7.9 49.89 8.54 50.26 9.32 50.26 10.24 50.26 10.9 50.07 11.52 49.7 12.09 49.33 12.66 48.83 13.13 48.18 13.46 47.53 13.81 46.82 13.96 46.05 13.96 44.65 13.96 43.46 13.55 42.48 12.7 41.52 11.83 41.03 10.74 41.03 9.38 41.03 7.63 41.57 6.12 42.64 4.84 43.72 3.56 45.09 2.61 46.76 1.97 48.42 1.31 50.1 1 51.81 1 53.68 1 55.47 1.47 57.13 2.42 58.8 3.35 60.12 4.65 61.09 6.26 62.07 7.89 62.58 9.62 62.58 11.49 62.58 14.81 61.46 17.89 59.22 20.74 56.99 23.6 54.23 26.07 50.92 28.19 48.72 29.62 45.16 31.56 40.24 34L40 33.1 40 33.1ZM65.44 6.33C65.44 5.71 65.67 5.19 66.12 4.77 66.56 4.34 67.1 4.13 67.75 4.13 68.3 4.13 68.83 4.37 69.3 4.84 69.77 5.29 70 5.83 70 6.42 70 7.04 69.76 7.58 69.3 8.01 68.81 8.42 68.27 8.63 67.66 8.63 67.01 8.63 66.49 8.42 66.07 7.96 65.65 7.51 65.44 6.97 65.44 6.33L65.44 6.33ZM65.44 15.4C65.44 14.77 65.67 14.24 66.09 13.82 66.52 13.39 67.06 13.18 67.75 13.18 68.3 13.18 68.81 13.41 69.3 13.87 69.76 14.34 70 14.84 70 15.4 70 16.07 69.77 16.61 69.34 17.04 68.88 17.47 68.36 17.7 67.75 17.7 67.06 17.7 66.52 17.47 66.09 17.06 65.67 16.64 65.44 16.09 65.44 15.4L65.44 15.4Z' fill='100E15'/><g transform='translate(73 1.1)' fill='100E15'><path d='M8.69 7.27L5.66 7.27 4.88 11.27 7.9 11.27 8.69 7.27ZM13.7 5.43L13.51 6.49C13.47 6.75 13.36 6.95 13.19 7.08 13.02 7.21 12.76 7.27 12.4 7.27L10.76 7.27 9.96 11.27 12.14 11.27C12.41 11.27 12.6 11.35 12.71 11.51 12.83 11.66 12.85 11.93 12.8 12.31L12.68 13.11 9.69 13.11 8.64 18.48 7.52 18.48C7.4 18.48 7.28 18.46 7.18 18.4 7.07 18.34 6.98 18.27 6.91 18.17 6.85 18.07 6.8 17.96 6.77 17.83 6.74 17.7 6.74 17.56 6.77 17.41L7.63 13.11 4.61 13.11 3.75 17.54C3.68 17.88 3.54 18.12 3.33 18.27 3.11 18.41 2.87 18.48 2.6 18.48L1.49 18.48 2.54 13.11 0.78 13.11C0.52 13.11 0.33 13.04 0.21 12.88 0.09 12.73 0.06 12.46 0.12 12.08L0.24 11.27 2.81 11.27 3.59 7.27 0.69 7.27 0.87 6.22C0.91 5.95 1.01 5.75 1.19 5.62 1.36 5.49 1.62 5.43 1.98 5.43L3.86 5.43 4.75 0.97C4.8 0.69 4.93 0.48 5.13 0.32 5.34 0.16 5.58 0.08 5.85 0.08L6.98 0.08 5.93 5.43 8.96 5.43 10 0.08 11.12 0.08C11.39 0.08 11.6 0.17 11.76 0.34 11.91 0.51 11.96 0.73 11.91 1.01L11.03 5.43 13.7 5.43Z'/><path d='M25.2 17.01L25.2 18.68 15.1 18.68 15.1 17.01 25.2 17.01Z'><animate attributeType='XML' attributeName='fill' values='000;eee;eee;eee;000;000;000;000;000' dur='3s' repeatCount='indefinite'/></path></g></svg>");
  background-repeat: no-repeat;
  background-position: center;
}

.github-icon {
  width: 100%;
  height: 48px;
  display: inline-block;
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='32' height='32' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z'></path></svg>");
  background-repeat: no-repeat;
  background-position: center;
}

.headline {
  width: 100%;
  height: 53px;
  display: inline-block;
  background-image: url("/images/header.svg");
}

.menu {
  width: 55px;
  height: 53px;
  display: inline-block;
  float: right;
  background-image: url("/images/menu.svg");
}

.menu img {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 10px;
}

.header {
  padding: 25px 15px 10px 15px;
}

@media (min-width: 450px) {
  .container {
    max-width: 350px;
  }
}

@media screen and (min-width: 450px) {
  .header {
    padding-right: 0;
    padding-left: 0;
  }
}