@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}

img{vertical-align:middle}.img-responsive{display:block;max-width:100%;height:auto}.img-rounded{border-radius:6px}.img-thumbnail{padding:4px;line-height:1.42857143;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;display:inline-block;max-width:100%;height:auto}.img-circle{border-radius:50%}

.container{margin-right:auto;margin-left:auto;padding:15px}@media (min-width:768px){.container{width:750px}}@media (min-width:992px){.container{width:970px}}@media (min-width:1200px){.container{width:1170px}}.container-fluid{margin-right:auto;margin-left:auto;padding:15px}

.jumbotron{color:inherit;background-color:#eee}.jumbotron h1,.jumbotron .h1{color:inherit}.jumbotron p{margin-bottom:15px;font-size:21px;font-weight:200}.container .jumbotron,.container-fluid .jumbotron{border-radius:6px;padding:15px}.jumbotron .container{max-width:100%}@media screen and (min-width:768px){.jumbotron{padding-top:48px;padding-bottom:48px}.container .jumbotron,.container-fluid .jumbotron{padding-left:60px;padding-right:60px}.jumbotron h1,.jumbotron .h1{font-size:63px}}.center-block{display:block;margin-left:auto;margin-right:auto}.pull-right{float:right !important}.pull-left{float:left !important}.hide{display:none !important}.show{display:block !important}.invisible{visibility:hidden}.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.hidden{display:none !important}.affix{position:fixed}

body {
  background: #e7e7e7;
  margin: 0px;
}

form, ul, table {
  margin-top: 10px;
  margin-bottom: 10px;
}

html, .jumbotron {
  font-family: Lato, sans-serif;
  font-weight: 400;
}

a {color:#337ab7;text-decoration:none}
a:hover,a:focus {color:#23527c;text-decoration:underline}
a:focus {outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}

b {font-weight: 400}
p {margin: 0.5em}

.jumbotron {
  text-align: center;
  border-top: #685888 0.2em solid;
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
}

h1, h2 {
  font-weight: 300;
  font-size: 2.5em;
  margin: 5px;
}

h3 {
  font-size: 1.5em;
  margin: 5px;
}

.logo {
  width: 100%;
  height: 53px;
  display: inline-block;
  background-image: url("/images/header.svg");
}

.menu {
  width: 55px;
  height: 53px;
  display: inline-block;
  float: right;
  background-image: url("/images/menu.svg");
}

.menu img {
  width: 30px;
  height 30px;
  margin-left: 5px;
  margin-top: 10px;
}

.header {
  padding-right: 15px;
  padding-left: 15px;
}

.container {
  padding-top: 10px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 850px;
  }
}
.container-narrow > hr {
  margin: 10px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header {
    padding-right: 0;
    padding-left: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}