<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Muse Hackers, the free music hosting service">
    <meta name="author" content="Peter Rudenko">

    <title>Muse Hackers</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="icon" type="image/png" href="<%= static_path(@conn, "/images/favicon.png") %>" />
  </head>

  <body>
    <div class="container">

      <header class="header">
        <nav role="navigation">
        </nav>
        <span class="logo">
            <span class="menu">
              <%= if @current_user do %>
                <img src="<%= @current_user.avatar %>" class="img-circle"/>
              <% else %>
                <a href="/auth/facebook">
                  <img id="login" title="<%= gettext "Sign in with Facebook" %>" src="<%= static_path(@conn, "/images/incognito.png") %>" class="img-circle"/>
                  <script src="<%= static_path(@conn, "/js/tippy.min.js") %>"></script>
                  <script> tippy('#login', { position: 'bottom', duration: 250, arrow: false, size: 'big', theme: 'dark', performance: true }) </script>
                </a>
              <% end %>
            </span>
        </span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
